<section id="about" class="about">

  <!-- desctop version -->
  <div>
    <h2>ABOUT</h2>
  </div>
  



  <!-- mobile version -->
  <ul class="about-text-list-mobile">
    <li>
      <p>
        Welcome to my personal website! I am a healthcare professional with over
        20 years of experience in rehabilitation and dialysis.
      </p>
    </li>
    <li>
      <p>
        My core strength as a healthcare professional lies in my ability to
        create and communicate a shared vision that motivates and inspires teams
        to achieve their goals.
      </p>
    </li>
    <li>
      <p>
        As a healthcare professional, I hold several certificates that have
        helped me refine my skills and stay up-to-date with the latest industry
        trends.
      </p>
    </li>
  </ul>
  <input type="checkbox" class="read-more-cheacker" id="read-more-cheacker" />
  <div class="learn-more-text">
    <p>
      What makes me unique is my belief that the right people are the key to
      success in any workplace. I am passionate about bringing people of
      different backgrounds together to accomplish greater outcomes for the
      vulnerable to chronically ill that normally would not have been possible.
      My values of integrity, persistence, and empathy are at the core of
      everything I do.
    </p>
    <p>
      I have experience leading innovation amongst the most challenging and
      highly regulated industries within healthcare. Being an executive leader
      in both healthcare startups and within Fortune 200 companies has allowed
      me to broaden my perspective and create solutions that align with key
      stakeholders and the company’s vision.
    </p>
  </div>
  <label for="read-more-cheacker" class="read-more-button"> learn more</label>

  <div class="blur-effect6"></div>

  <img
    class="about-photo-mobile"
    src="images/about-photo.jpg"
    alt="Tyler-Herchian"
  />
</section>
