<section class="achievement">
  <div class="achievement-container">
    <h3 class="wow">
      Major <br /><span>accomplishments<br /></span> during my career
    </h3>
    <div class="blur-effect7"></div>

    <ul class="wow achievement-list">
      <li>
        <p class="achievement-list__value value1">1</p>
        <p class="achievement-list__text text1">
          Demonstrated success in team engagement by bringing a region from 33%
          satisfaction to 88% in 1 year.
        </p>
      </li>
      <li>
        <p class="achievement-list__value value2">2</p>
        <p class="achievement-list__text text2">
          Led profitability in a service line portfolio that was a net loss in
          my first year as the forward-facing director.
        </p>
      </li>
      <li>
        <p class="achievement-list__value value3">3</p>
        <p class="achievement-list__text text3">
          Scaled a healthcare startup from 1 market to 9 in under three years.
        </p>
      </li>
    </ul>
  </div>

  <ul class="humanity-list-mobile">
    <li>
      <p>Empathy</p>
    </li>
    <li>
      <p>Persistence</p>
    </li>
    <li>
      <p>Integrity</p>
    </li>
  </ul>
</section>
