<div id="container">
  <div
    data-aos="fade-down-left"
    data-aos-delay="0"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    class="vector-lines1"
  >
    <img src="images/vector-lines-banner.svg" alt="vector-lines-banner" />
  </div>
  <div class="vector-lines2">
    <img src="images/vector-lines-about.svg" alt="vector-lines-about" />
  </div>
  <div class="vector-lines3">
    <img src="images/vector-lines-my-values.svg" alt="vector-lines-about" />
  </div>
  <div class="vector-lines4">
    <img src="images/vector-lines-contact.svg" alt="vector-lines-about" />
  </div>
  <div class="ellipse-desktop-1"></div>
  <div
    data-aos="fade-up-left"
    data-aos-delay="0"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    class="ellipse-desktop-2"
  ></div>
  <div class="ellipse-desktop-3"></div>
  <div class="ellipse-desktop-4"></div>
  <div class="ellipse-desktop-5"></div>
  <div class="ellipse-desktop-6"></div>
  <div class="ellipse-desktop-7"></div>
  <div class="ellipse-desktop-8"></div>
  <div class="ellipse-desktop-9"></div>
  <div class="ellipse-desktop-10"></div>
  <!-- <div class="ellipse-desktop-11"></div> -->
</div>
