<section class="banner">
  <div class="banner-desktop">

    <div class="banner-info">
      <h1 class="banner-title">Tyler Herchian</h1>
      <p class="banner-text">
        <span class="banner-text__accent">a healthcare innovator</span> and
        experienced executive
      </p>

      <a href="#about">
        <div class="bunner-btn-border1">
          <div class="bunner-btn-border2">
            <button type="button" class="bunner-button">learn more</button>
          </div>
        </div>
      </a>
    </div>

    <div class="banner-human-image">
      <img src="images/human-banner.png" alt="human-image" />
    </div>
  </div>

  <div class="banner-human-image-mobile">
    <img src="images/human-banner-mobile.png" alt="human-image" />
  </div>

  <!-- experience list -->
  <ul class="banner-list">
    <li class="banner-item">
      <p class="banner-item__value">20</p>
      <p class="banner-item__text">
        20 years in healthcare (rehabilitation and dialysis)
      </p>
    </li>
    <li class="banner-item">
      <p class="banner-item__value">10+</p>
      <p class="banner-item__text">
        10 roles that demonstrate continual career progression
      </p>
    </li>
    <li class="banner-item">
      <p class="banner-item__value">6</p>
      <p class="banner-item__text">certificates in the field of business</p>
    </li>
  </ul>

  <!-- blur -->
  <div class="blur-effect3"></div>
  <div class="blur-effect4"></div>
</section>
