<section id="contact" class="contact">
  <h2 class="wow">Contact</h2>
  <div class="contact-container">
    <div class="wow form-container">
      <p class="wow contact__text">
        Thank you for visiting my website, and please do not hesitate to contact
        me if you have any questions or would like to learn more about my work.
      </p>

      <div class="blur-effect10"></div>

      <div class="wow contact-form">
        <div class="form-item">
          <label for="forName"></label>
          <input
            id="forName"
            type="text"
            name="name"
            placeholder="Name"
            class="form-input"
            minlength="3"
            maxlength="30"
          />
        </label>
        </div>

        <div class="form-item">
          <label for="forEmail"></label>
          <input
            id="forEmail"
            type="email"
            name="email"
            placeholder="Email"
            class="form-input"
          />
        </div>

        <div class="form-item">
          <label for="formMessage"></label>
          <textarea
            id="formMessage"
            type="text"
            name="message"
            placeholder="Our question"
            class="form-input"
            rows="3"
            minlength="10"
            maxlength="300"
          ></textarea>
        </div>

        <div class="contact-btn-border1">
          <div class="contact-btn-border2">
            <button type="button" class="contact-button" id="submitForm">
              submit
            </button>
          </div>
        </div>
      </div>
    </div>

    <div>
      <img
        class="contact-mobile-img"
        src="images/contact-photo.jpg"
        alt="Tyler Herchian"
      />
      <img
        data-aos="fade-up-right"
        data-aos-easing="ease-in-out"
        class="contact-desktop-img"
        src="images/contact-photo-desktop.jpg"
        alt="Tyler Herchian"
      />

      <ul class="wow communication-list">
        <li>
          <a class="contact__link" href="tel:2623257724">
            <svg width="25" height="25">
              <use href="images/symbol-defs.svg#icon-phone-contact"></use>
            </svg>
            <p>(262) 325 - 7724</p>
          </a>
        </li>

        <li>
          <a class="contact__link" href="mailto:herchian@tylerherchian.com">
            <svg class="contact-icon-mail" width="25" height="25">
              <use href="images/symbol-defs.svg#icon-mail-contact"></use>
            </svg>
            <p>herchian@tylerherchian.com</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
