<footer>
  <div class="footer-container-desktop">
    <a href="#"
      ><img class="footer-mobile-logo" src="images/logo-footer.png" alt=""
    /></a>

    <div class="footer-container">
      <a class="footer-desktop-logo" href="#"
        ><img src="images/logo-footer.png" alt=""
      /></a>

      <ul class="footer-menu">
        <li>
          <a class="line-nav" href="#about"><p>About</p></a>
        </li>
        <li>
          <a class="line-nav" href="#my-services"><p>My services</p></a>
        </li>
        <li>
          <a class="line-nav" href="#companies"><p>Companies</p></a>
        </li>
        <li>
          <a class="line-nav" href="#contact"><p>Contact</p></a>
        </li>
      </ul>

      <ul class="list-soc-footer">
        <li>
          <a
            class="list-soc-footer__link"
            href="https://www.linkedin.com/in/tylerherchian/"
          >
            <svg class="soc-icon-footer" width="17" height="16">
              <use href="images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="list-soc-footer__link"
            href="mailto:herchian@tylerherchian.com"
          >
            <svg class="soc-icon-footer" width="18" height="15">
              <use href="images/symbol-defs.svg#icon-mail"></use>
            </svg>
          </a>
        </li>
        <li class="item-arrow">
          <a
            class="list-soc-footer__link accent"
            href="mailto:herchian@tylerherchian.com"
          >
            <svg class="soc-icon-footer-arrow" width="24" height="20" transform="rotate(270)";>
              <use href="images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </a>
        </li>

      </ul>
    </div>

    <p class="text-copyright">©2023 All rights reserved</p>
  </div>
</footer>
