<header class="header">
  <img class="logo" src="images/logo.png" alt="logo" width="97.5" height="30" />
  <div id="menu-toggle">
    <div id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="cross">
      <span></span>
      <span></span>
    </div>
  </div>
  <!-- <div id="menu-toggle">
    <div id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div> -->

  <div class="backdrop-menu js-menu-container">
    <div class="mobile-menu">
      <div class="mobile-header">
        <img
          class="logo"
          src="images/logo.png"
          alt="logo"
          width="97.5"
          height="30"
        />
        <!-- <div id="menu-cross">
          <div id="cross">
            <span></span>
            <span></span>
          </div>
        </div> -->
      </div>

      <!-- blur -->

      <div class="blur-effect1"></div>
      <div class="blur-effect2"></div>

      <!-- Elements menu -->
      <ul class="list-menu">
        <li class="list-menu__item-menu"><a href="">About</a></li>
        <li class="list-menu__item-menu"><a href="">My services</a></li>
        <li class="list-menu__item-menu"><a href="">Companies</a></li>
        <li class="list-menu__item-menu"><a href="">Contact</a></li>
      </ul>

      <!-- Soc. icons -->
      <ul class="list-soc">
        <li>
          <a class="list-soc__link" href="mailto:herchian@tylerherchian.com">
            <svg class="soc-icon" width="18" height="15">
              <use href="images/symbol-defs.svg#icon-mail"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="list-soc__link"
            href="https://www.linkedin.com/in/tylerherchian/"
          >
            <svg class="soc-icon" width="17" height="16">
              <use href="images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="human-image">
        <img
          src="images/human-mobile-menu.png"
          alt="human-image"
        />
      </div>
    </div>
  </div>

  <div class="p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, nulla nemo
    voluptatum, beatae repellendus iusto, assumenda dolorem soluta enim
    aspernatur perspiciatis? Ullam excepturi minima eos fugiat ea, velit odit
    voluptatem! Animi ut voluptatibus ab repellat aliquam accusamus nobis facere
    perferendis error! Mollitia ipsa debitis unde ducimus tempora fugiat error
    officia inventore laborum molestiae quibusdam voluptatibus, delectus
    corporis dolorem hic eligendi. Possimus, excepturi libero! Voluptas sapiente
    quibusdam ullam labore rerum molestiae sequi tempore voluptatum unde
    incidunt provident in vero et exercitationem vitae eligendi, corrupti,
    molestias praesentium delectus eos quisquam aperiam? Quas. Veniam, suscipit
    laborum? Cumque, aperiam illum repellendus iure, architecto eius provident
    debitis consectetur optio nesciunt sunt, est nam. Totam adipisci quas sint
    est, eveniet nesciunt voluptatibus dignissimos soluta nam non. Eos,
    molestiae. Pariatur consequatur corporis exercitationem, nisi fugit quo a
    sequi quibusdam libero. Vitae deserunt pariatur iure illum consequatur
    dolore natus explicabo exercitationem veniam, corrupti consectetur adipisci,
    maiores harum nobis? Dolor beatae nobis possimus nihil commodi aspernatur
    magnam cupiditate impedit onseio laboriosam officiis veniam maxime?
    Inventore perferendis mollitia tempora aperiam optio recusandae nisi
    eligendi, debitis sit provident nostrum voluptatum quo velit laudantium eos
    eaque, assumenda tempore rerum. Aut, voluptatem! Voluptate excepturi neque
    veritatis commodi fugiat nostrum maiores dicta voluptatibus id quod sunt
    quis quidem beatae quaerat provident voluptates deleniti tenetur a rem, quae
    fugit facilis? Officiis officia praesentium quam. Est numquam sici. Libero
    obcaecati quaerat officia quam. Explicabo minima in accusantium perferendis
    placeat, error quasi dolore ad eligendi culpa iusto impedit nesciunt,
    beatae, commodi dolorum. Accusamus laudantium sunt cupiditate non inventore
    blanditiis perferendis temporibus. Nobis, deserunt nostrum! Officia,
    ducimus. Magni maxime nemo odit nam obcaecati consectetur unde vero ullam
    eum quis dolore nobis, eos esse?
  </div>
</header>
