<section class="services">
  <h2><span>MY</span> SERVICES</h2>

  <ul class="services-list">
    <li><img src="images/card-1.png" alt="my-services-card-1"></li>
    <li><img src="images/card-2.png" alt="my-services-card-2"></li>
    <li><img src="images/card-3.png" alt="my-services-card-3"></li>
    <li><img src="images/card-4.png" alt="my-services-card-4"></li>
  </ul>

<ul class="services-lines">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</ul>

  <div class="blur-effect5"></div>

</section>
