<section class="my-values">
  <h2 class="wow">my <span>values</span></h2>
  <div class="blur-effect8"></div>
  <ul class="my-values-list">
    <li>
      <img src="images/icon-arrow.png" alt="icon-arrow" />
      <h3>Integrity</h3>
      <p class="text1">
        Leading to results with honesty, ethics, and fairness in all business
        dealings
      </p>
    </li>
    <li>
      <img src="images/icon-eyes.png" alt="icon-eyes" />
      <h3>Empathy</h3>
      <p class="text2">
        You can expect a compassionate understanding of your needs
      </p>
    </li>
    <li>
      <img src="images/icon-hand.png" alt="icon-hand" />
      <h3>Persistence</h3>
      <p class="text3">
        Overcome obstacles, learn from mistakes, and keep striving towards your
        goals
      </p>
    </li>
  </ul>

  <img class="my-mission-desktop" src="images/my-mission-desktop.png" alt="my-mission" />
  <img class="my-mission" src="images/my-mission.png" alt="my-mission" />

  <div class="blur-effect9"></div>

<div class="my-values-text-desktop">
<ul>
  <li>
    <p>Permanence, perseverance</p>
  </li>
  <li>
    <p>and persistence persistence in</p>
  </li>
  <li>
    <p>spite of all obstacles, </p>
  </li>
  <li>
    <p>discouragements, and impossibilities:</p>
  </li>
  <li>
    <p>It is this, that in all things</p>
  </li>
  <li>
    <p>distinguishes the strong</p>
  </li>
  <li>
    <p>soul from the weak.</p>
  </li>
</ul>
</div>

  <p class="my-values-text">
    Permanence, perseverance and persistence persistence in spite of all
    obstacles, discouragements, and impossibilities: It is this, that in all
    things distinguishes the strong soul from
    <br />
    the weak.
  </p>

  <p class="my-values-text-author">— Thomas Carlyle</p>
</section>
