<section class="my-values">
  <h2>my <span>values</span></h2>

  <ul class="my-values-list">
    <li>
      <img src="images/icon-arrow.png" alt="icon-arrow" />
      <h3>Integrity</h3>
      <p>
        Leading to results with honesty, ethics, and fairness in all business
        dealings
      </p>
    </li>
    <li>
      <img src="images/icon-eyes.png" alt="icon-eyes" />
      <h3>Empathy</h3>
      <p>You can expect a compassionate understanding of your needs</p>
    </li>
    <li>
      <img src="images/icon-hand.png" alt="icon-hand" />
      <h3>Persistence</h3>
      <p>
        Overcome obstacles, learn from mistakes, and keep striving towards your
        goals
      </p>
    </li>
  </ul>

  <img src="images/my-mission.png" alt="">
  <!-- <div class="my-mission">
    <p>
      <span>My mission</span> is to provide safe, effective, and compassionate care to
      patients with end-stage renal disease or chronic kidney disease. I believe
      in treating every patient with the utmost respect and dignity, and I am
      committed to improving the lives of those I serve.
    </p>
  </div> -->
</section>
