<div class="ticker-text">
    <div>
      <span>
        <p>Empathy</p>
        <p>Persistence</p>
        <p>Integrity</p>
        <p>Empathy</p>
        <p>Persistence</p>
        <p>Integrity</p>
        <p>Empathy</p>
        <p>Persistence</p>
        <p>Integrity</p>
      </span>
      <span>
        <p>Empathy</p>
        <p>Persistence</p>
        <p>Integrity</p>
        <p>Empathy</p>
        <p>Persistence</p>
        <p>Integrity</p>
        <p>Empathy</p>
        <p>Persistence</p>
        <p>Integrity</p>
      </span>
    </div>
  </div>