.achievement {
  @include breakpoint(tablet) {
    max-width: 1200px;
    margin: 215px auto 40px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }

  @include breakpoint(mobile-max) {
    margin: 76px auto 0;
  }
  h3 {
    text-transform: uppercase;
    position: relative;

    @include breakpoint(tablet) {
      margin-top: 4px;
      @include font(
        $secondary-font,
        400,
        50px,
        calc(62 / 50),
        $primaryTextColors
      );
    }

    @include breakpoint(mobile-max) {
      margin: 0 auto;
      width: 335px;
      z-index: 1;
      @include font(
        $secondary-font,
        400,
        40px,
        calc(56 / 40),
        $primaryTextColors
      );
    }

    span {
      @include breakpoint(tablet) {
        color: $accentTextColors;
      }

      @include breakpoint(mobile-max) {
        @include font(
          $secondary-font,
          400,
          28px,
          calc(52 / 28),
          $accentTextColors
        );
      }
    }
  }
}

.achievement-container {
  @include breakpoint(tablet) {
    display: flex;
  }
}

.blur-effect7 {
  position: relative;
  top: -220px;
  width: 315px;
  height: 219px;
  left: -32px;
  @include breakpoint(tablet) {
    display: none;
  }
  background: rgba(82, 255, 255, 0.7);
  filter: blur(286px);
}

.achievement-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint(tablet) {
    margin-bottom: 100px;
  }
  @include breakpoint(mobile-max) {
    top: -160px;
    margin: 8px auto 0px;
    gap: 45px;
  }
  @include breakpoint(tablet) {
    li {
      // position: relative;
      &:nth-child(1) {
        position: relative;
        left: 24px;
      }

      &:nth-child(2) {
        position: relative;
        left: 38px;
      }

      &:nth-child(3) {
        position: relative;
        left: -10px;
      }
    }
  }
  &__value {
    position: absolute;
    @include font(
      $primary-font,
      400,
      115px,
      calc(115 / 115),
      $transparentTextColors
    );
  }

  &__text {
    @include font($primary-font, 400, 20px, calc(24 / 20), $primaryTextColors);
  }

  .text1 {
    @include breakpoint(tablet) {
      width: 459px;
      padding-left: 19px;
      margin-bottom: 66px;
    }

    @include breakpoint(mobile-max) {
      width: 326px;
      padding-left: 18px;
    }
  }

  .value1 {
    @include breakpoint(tablet) {
      top: -11px;
    }
    @include breakpoint(mobile-max) {
      top: -24px;
    }
  }

  .text2 {
    @include breakpoint(tablet) {
      padding-left: 46px;
      width: 538px;
      margin-bottom: 84px;
    }
    @include breakpoint(mobile-max) {
      padding-left: 26px;
      width: 340px;
    }
  }

  .value2 {
    @include breakpoint(tablet) {
      padding-left: 5px;
      top: -24px;
    }
    @include breakpoint(mobile-max) {
      padding-left: -4px;
      top: 116px;
    }
  }

  .text3 {
    @include breakpoint(tablet) {
      padding-left: 40px;
      width: 431px;
    }
    @include breakpoint(mobile-max) {
      padding-left: 31px;
      width: 340px;
    }
  }

  .value3 {
    @include breakpoint(tablet) {
      top: -22px;
    }
    @include breakpoint(mobile-max) {
      top: 256px;
    }
  }
}

// ---------------- TICKER TEXT ----------------
.achievement-ticker-text {
  max-width: 100%;
  // height: 120%;
  // overflow: hidden; //! можно поменять

  @include breakpoint(mobile-max) {
    display: none;
  }

  div {
    display: flex;
    width: 200%;
    animation: marquee-infinite 10s linear infinite;
  }

  span {
    width: 100%;
    display: flex;
    justify-content: space-around;
    &:nth-child(1) {
      margin-right: 560px;
    }
  }

  p {
    margin-right: 50px;
    width: 20%;
    height: 100%;
    @include font(
      $secondary-font,
      400,
      55px,
      calc(68 / 55),
      $transparentTextColors
    );
  }
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-124%);
  }
}

.humanity-list-mobile {
  position: relative;
  top: -82px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  text-align: center;
  p {
    @include font(
      $secondary-font,
      400,
      40px,
      calc(24 / 40),
      $transparentTextColors
    );
  }

  @include breakpoint(tablet) {
    display: none;
  }
}
