.achievement {
  // margin-top: 80px;
  margin: 76px auto 0;

  h3 {
    text-transform: uppercase;
    position: relative;
  margin: 0 auto;
  width: 335px;
    z-index: 1;
    @include font(
      $secondary-font,
      400,
      40px,
      calc(56 / 40),
      $primaryTextColors
    );

    span {
      @include font(
        $secondary-font,
        400,
        28px,
        calc(52 / 28),
        $accentTextColors
      );
    }
  }
}

.blur-effect7 {
  position: relative;
  top: -220px;
  width: 315px;
  height: 219px;
  left: -32px;
  @include breakpoint(tablet) {
    display: none;
  }
  background: rgba(82, 255, 255, 0.7);
  filter: blur(286px);
}

.achievement-list {
  position: relative;
  margin: 8px auto 0px;

  top: -160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;

  &__value {
    position: absolute;
    @include font(
      $primary-font,
      400,
      115px,
      calc(115 / 115),
      $transparentTextColors
    );
  }

  &__text {
    width: 310px;
    @include font($primary-font, 400, 20px, calc(24 / 20), $primaryTextColors);
  }

  .text1 {
    padding-left: 18px;
    width: 326px;
  }

  .value1 {
    top: -24px;
  }

  .text2 {
    padding-left: 26px;
    width: 340px;
  }

  .value2 {
    padding-left: -4px;
    top: 116px;
  }

  .text3 {
    padding-left: 31px;
    width: 340px;
  }

  .value3 {
    top: 256px;
  }
}

.humanity-list {
  position: relative;
  top: -82px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  text-align: center;
  p {
    @include font(
      $secondary-font,
      400,
      40px,
      calc(24 / 40),
      $transparentTextColors
    );
  }
}
