#container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  @include breakpoint(tablet-max) {
    display: none;
  }
}

.vector-lines1 {
  position: absolute;
  top: -300px;
  right: -425px;
  overflow: hidden;
}
