.banner {
  margin-top: 80px;
}

.banner-title {
  position: relative;
  z-index: 1;
  @include font($secondary-font, 400, 70px, calc(87 / 70), $primaryTextColors);
}

.banner-text {
  position: relative;
  z-index: 1;
  margin-top: 20px;

  @include font($primary-font, 400, 24px, calc(24 / 24), $primaryTextColors);

  &__accent {
    color: $accentTextColors;
  }
}

.bunner-btn-border1 {
  margin-top: 20px;
  width: 171px;
  height: 35px;
  border-radius: 70px;

  background: linear-gradient(
    168deg,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0.6362920168067228) 64%,
    rgba(255, 255, 255, 1) 89%
  );
}

.bunner-btn-border2 {
  position: absolute;
  z-index: 2;
  margin-top: 1px;
  width: 170px;
  height: 33px;
  border-radius: 70px;
  background-color: $primaryBgColors;
}

.bunner-button {
  margin-top: -1px;
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  width: 170px;
  height: 35px;

  background: radial-gradient(
    681.23% 138.89% at 50% 48.89%,
    rgba(213, 233, 245, 0.2) 8.12%,
    #ffffff 100%
  );

  border: none;
  border-radius: 70px;
  @include font($primary-font, 400, 16px, calc(16 / 16), $secondaryTextColors);
}

.bunner-button:hover {
  background: radial-gradient(
    735.73% 150% at 50% 120%,
    rgba(213, 233, 245, 0.2) 8.12%,
    #ffffff 100%
  );
}

.banner-human-image {
  margin: 50px auto;
  width: 310px;
  // height: 348px;
  position: relative;
  z-index: 1;
}

// TODO Блюр (проблема с отображением на iphone 8)
.blur-effect3 {
  position: absolute;
  width: 237px;
  height: 165px;
  left: -95px;
  top: 157px;

  background: hsla(180, 100%, 66%, 0.788);
  -webkit-filter: blur(286px);
  filter: blur(286px);
}

.blur-effect4 {
  position: absolute;
  width: 256px;
  height: 241px;
  left: 111px;
  top: 535px;

  background: #43a5ff;
  -webkit-filter: blur(286px);
  filter: blur(400px);
}


// experience list
.banner-list {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 40px;
}

.banner-item {
  color: $primaryTextColors;

  &__value {
    height: 70px;
    margin-bottom: 10px;

    @include font($primary-font, 400, 70px, calc(70 / 70));
  }

  &__text{
    @include font($primary-font, 400, 20px, calc(24 / 20));
  }
}
