.ticker-text {
    margin: 0 auto;
    max-width: 1440px;
    // height: 120%;
    overflow: hidden; //! можно поменять
  
    @include breakpoint(mobile-max) {
      display: none;
    }
  
    div {
      display: flex;
      width: 200%;
      animation: marquee-infinite 12s linear infinite;
    }
  
    span {
      width: 100%;
      display: flex;
      gap: 50px;
      justify-content: space-around;
      &:nth-child(1) {
        // margin-right: 20px;
      }
    }
  
    p {
      
      width: 20%;
      height: 100%;
      @include font(
        $secondary-font,
        400,
        55px,
        calc(68 / 55),
        $transparentTextColors
      );
    }
  }
  .ticker-container {
    gap: 50px;
  }
  
  @keyframes marquee-infinite {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-101%); //-124%
    }
  }